<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club List</title>
  </head>
  <body>
    <h1>Club List</h1>
    <ul>
      <% clubs.forEach(function(club) { %>
      <li><%= club.name %> - <%= club.city %></li>
      <% }); %>
    </ul>
  </body>
</html>
